@{
    Layout = "~/Views/Shared.cshtml";
}

<head>
    <link href="~/Content/admin.css" rel="stylesheet">
    <script src="~/Scripts/lib/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/lib/d3.v3.js"></script>
    <title>Admin</title>
</head>
<body ng-controller="adminController">
    <header>
        <span class="col-md-1 pull-right logout" ng-click="logOut()">Log Out</span>
        <center>
            <h2>Admin Panel</h2>
        </center>
    </header>
    <div class="panel panel-primary">
        <div class="panel-heading navbar-inverse">Create Accounts</div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="username">User:</label>
                    <input type="text" class="form-control" id="username" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" ng-model="password">
                </div>
                <div class="form-group">
                    <label for="balance">Balance:</label>
                    <input type="text" class="form-control" id="balance" ng-model="balance">
                </div>
                <button type="button" ng-click="createAccount()" class="btn btn-warning">Create</button>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Deposit To Account</div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="username">User:</label>
                    <input type="text" ng-model="depositAccount" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="balance">Balance:</label>
                    <input type="text" ng-model="depositBalance" class="form-control" id="balance">
                </div>
                <button type="button" ng-click="deposit()" class="btn btn-warning">Deposit</button>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
            <table class="table" ng-if="accounts.length > 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in accounts">
                        <td>{{account.Username}}</td>
                        <td>{{account.Balance}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-disabled="account.Username == 'admin'" ng-click="deleteUser(account.Id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Search For Positions</div>
        <div class="panel-body">

            <div class="form-inline">
                <div class="form-group" id="dates-container">
                    <input type="text" id="from" ng-model="searchParams.openTime" placeholder="Open Time" class="form-control" />
                    <input type="text" id="to" ng-model="searchParams.expireTime" placeholder="Expire Time" class="form-control" />
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" ng-model="searchParams.wins">
                    Wins Only
                </div>

                <div class="form-group">
                    <input class="form-check-input" type="checkbox" ng-model="searchParams.descending">
                    Order By Descending
                </div>
                <input type="button" class="btn btn-warning" ng-click="search()" value="Search" />
            </div>
            <table class="table" ng-if="positions.length > 0">
                <thead>
                    <tr>
                        <th>Open Time</th>
                        <th>Instrument</th>
                        <th>Direction</th>
                        <th>Amount</th>
                        <th>Open Rate</th>
                        <th>Expire Time</th>
                        <th>Close Rate</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="position in positions">
                        <td>{{position.openTime}}</td>
                        <td>{{position.instrumentName}}</td>
                        <td>{{position.direction}}</td>
                        <td>{{position.amount}}</td>
                        <td>{{position.openPrice}}</td>
                        <td>{{position.expireTime}}</td>
                        <td>{{position.closePrice}}</td>
                        <td>
                            {{((position.direction == 'High' && position.openPrice < position.closePrice) || (position.direction == 'Low' && position.openPrice > position.closePrice)) ? 'WIN' : 'Loose'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Trading Data</div>
        <div class="panel-body">
            <div class="form-inline col-md-1" style="margin-top: 150px">
                <div class="form-group">
                    <div style="color:#5CB811">Win {{tradingRatio.WinLoseRatio[0].Value}}%</div>
                    <div style="color:#FE1A00">Lose {{tradingRatio.WinLoseRatio[1].Value}}%</div>
                </div>
            </div>
            <div id="pie" class="col-md-4">
            </div>
            <div class="form-inline col-md-1" style="margin-top: 150px">
                <div class="form-group">
                    <div style="color:#735DCB">High {{tradingRatio.HighLowRatio[0].Value}}</div>
                    <div style="color:#F75403">Low {{tradingRatio.HighLowRatio[1].Value}}</div>
                </div>
            </div>
            <div id="highLowPie" class="col-md-4">
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/Controllers/adminController.js"></script>

