
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <script src="~/Scripts/lib/angular.min.js"></script>
        <script src="~/Scripts/lib/angular-cookies.min.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/font-awesome.min.css" rel="stylesheet">
        <link href="~/Content/alertify/alertify.core.css" rel="stylesheet">
        <link href="~/Content/alertify/alertify.default.css" rel="stylesheet">
        <script src="~/Scripts/lib/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/lib/jquery.signalR-2.2.1.js"></script>
        <script src="~/Scripts/app.js"></script>
        <script src="~/Scripts/lib/alertify/alertify.min.js"></script>
        <script src="~/Scripts/lib/moment/moment.min.js"></script>
        <script src="~/Scripts/Services/signalrService.js"></script>
        <script src="~/Scripts/Services/signalrService.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
<body ng-app="binaryOptions">
    <div>
        @RenderBody()
    </div>
</body>
</html>
