body {
    color: whitesmoke;
    min-height: 100%;
}

.login {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    color: black;
}

.account-details {
    margin: 15px;
}

.logout {
    cursor: pointer;
}

.trend-up {
    color: #5CB811;
    cursor: pointer;
}

.trend-down {
    color: #FE1A00;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: smaller;
}
