@{
    Layout = "~/Views/Shared.cshtml";
}

<head>
    <link href="~/Content/index.css" rel="stylesheet">
    <link href="~/Content/chart.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet">
    <script src="~/Scripts/lib/d3.v3.js"></script>
    <script src="~/Scripts/lib/jquery-ui-1.12.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="mainController" class="navbar-inverse">
    @*Account details*@
    <header>
        <span class="navbar-brand pull-left">Binary Options</span>
        <span class="col-md-1 pull-right account-details logout" ng-click="logOut()">Log Out</span>
        <span class="pull-right account-details">
            <span class="fa fa-dollar"></span>
            <span class="pull-right">{{account.balance}}</span>
        </span>
        <span class="pull-right account-details">
            <span style="padding-top: 3px;" class="fa fa-user pull-left"></span>
            <span class="pull-right">{{account.username}}</span>
        </span>
    </header>

    @*instruments & chart*@
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <span>Amount:</span>
                <input id="ammount-spinner" class="form-control amount" name="value" value="10" type="number">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Instrument</th>
                        <th>Rate</th>
                        <th>High</th>
                        <th>Low</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="instrument in instruments">
                        <td ng-class="instrument.trend == 'up' ? 'trend-up' : 'trend-down'">{{instrument.name}}</td>
                        <td ng-class="instrument.trend == 'up' ? 'trend-up' : 'trend-down'">{{instrument.rate}}</td>
                        <td>
                            <span class="trend-up fa fa-thumbs-o-up" ng-click="openHighPosition('test',instrument.name)"></span>
                        </td>
                        <td>
                            <span class="trend-down fa fa-thumbs-o-down" ng-click="openLowPosition('test',instrument.name)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <svg style="width: 100%" />
        </div>
        <div class="col-md-3" id="newsFeed">
            <h3  class="news-feed-header">News feed</h3>
            <div ng-if="newsFeed.length > 0">
                <div class="media">
                    <div class="media-left">
                        <a href="{{newsFeed[newsFeedIndex].url}}">
                            <img class="media-object" ng-src="{{newsFeed[newsFeedIndex].urlToImage}}" width="64" height="64">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{newsFeed[newsFeedIndex].title}}</h4>
                        <div class="news-data">{{newsFeed[newsFeedIndex].description}}</div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*positions*@
    <div class="col-md-12">
        <div class="col-md-12">
            <h3>Open Positions</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Open Time</th>
                        <th>Instrument</th>
                        <th>Direction</th>
                        <th>Amount</th>
                        <th>Open Rate</th>
                        <th>Expire Time</th>
                        <th>Close Rate</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="position in account.positions">
                        <td>{{position.openTime}}</td>
                        <td>{{position.instrumentName}}</td>
                        <td>{{position.direction}}</td>
                        <td>{{position.amount}}</td>
                        <td>{{position.openPrice}}</td>
                        <td>{{position.expireTime}}</td>
                        <td>{{position.closePrice}}</td>
                        <td>
                            <i class="fa fa-clock-o" aria-hidden="true" ng-show="{{getPositionStatus(position)  == 'Pending'}}"></i>
                            <span ng-class="getPositionCssClass(position)">{{getPositionStatus(position)}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="col-md-12">
        Powered By Shahaf Franko & Elroie Roash
    </footer>
    <script src="~/Scripts/Controllers/mainController.js"></script>
</body>
