@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/lib/angular.min.js"></script>
    <script src="~/Scripts/lib/angular-cookies.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/index.css" rel="stylesheet">
    <link href="~/Content/alertify/alertify.core.css" rel="stylesheet">
    <link href="~/Content/alertify/alertify.default.css" rel="stylesheet">
    <script src="~/Scripts/lib/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/lib/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/lib/alertify/alertify.min.js"></script>
    <script src="~/Scripts/lib/moment/moment.min.js"></script>
    <!--<script src="~/Scripts/Controllers/mainController.js"></script>-->
    <script src="~/Scripts/Services/signalrService.js"></script>
    <script src="~/Scripts/Services/signalrService.js"></script>
    <script src="~/Scripts/lib/d3.v3.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="binaryOptions" ng-controller="mainController" class="navbar-inverse">
    <style>
        .graph .axis {
            stroke-width: 1;
        }

            .graph .axis .tick line {
                stroke: black;
            }

            .graph .axis .tick text {
                fill: black;
                font-size: 0.7em;
            }

            .graph .axis .domain {
                fill: none;
                stroke: black;
            }

        .graph .group {
            fill: none;
            stroke: black;
            stroke-width: 1.5;
        }

        path {
            fill: none;
            stroke: #000;
        }

        text {
            fill: white;
            stroke: white;
            font-size: 16px;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: white;
            shape-rendering: crispEdges;
        }
    </style>
    @*Account details*@
    <header>
        <span class="navbar-brand pull-left">Binary Options</span>
        <span class="col-md-1 pull-right account-details logout" ng-click="logOut()">Log Out</span>
        <span class="pull-right account-details">
            <span class="fa fa-dollar"></span>
            <span class="pull-right">{{account.balance}}</span>
        </span>
        <span class="pull-right account-details">
            <span style="padding-top: 3px;" class="fa fa-user pull-left"></span>
            <span class="pull-right">{{account.username}}</span>
        </span>
    </header>

    @*instruments & chart*@
    <div class="col-md-12">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Instrument</th>
                        <th>Rate</th>
                        <th>Open Up</th>
                        <th>Open Down</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="instrument in instruments">
                        <td ng-class="instrument.trend == 'up' ? 'trend-up' : 'trend-down'">{{instrument.name}}</td>
                        <td ng-class="instrument.trend == 'up' ? 'trend-up' : 'trend-down'">{{instrument.rate}}</td>
                        <td>
                            <span class="trend-up fa fa-thumbs-o-up" ng-click="openHighPosition('test',instrument.name,1)"></span>
                        </td>
                        <td>
                            <span class="trend-down fa fa-thumbs-o-down" ng-click="openLowPosition('test',instrument.name,1)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <h3>Chart</h3>
            <svg width="960" height="500"></svg>
        </div>
    </div>

    @*open positions*@
    <footer>
        <div class="col-md-12">
            <h3>Open Positions</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Open Time</th>
                        <th>Instrument</th>
                        <th>Direction</th>
                        <th>Amount</th>
                        <th>Open Rate</th>
                        <th>Expire Time</th>
                        <th>Close Rate</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="position in account.positions">
                        <td>{{position.openTime}}</td>
                        <td>{{position.instrumentName}}</td>
                        <td>{{position.direction}}</td>
                        <td>{{position.amount}}</td>
                        <td>{{position.openPrice}}</td>
                        <td>{{position.expireTime}}</td>
                        <td>{{position.closePrice}}</td>
                        <td>
                            {{(position.direction == 'High' && position.openPrice < position.closePrice ? 'WIN' : 'Loose')}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </footer>
    <script src="~/Scripts/Controllers/mainController.js"></script>
</body>
</html>
