@{
    Layout = "~/Views/Shared.cshtml";
}

<head>
    <link href="~/Content/index.css" rel="stylesheet">
    <script src="~/Scripts/Controllers/loginController.js"></script>
    <title>Login</title>
</head>
<body ng-app="binaryOptions" ng-controller="loginController">
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="login">
                <div class="form-group">
                    <label for="username">User:</label>
                    <input type="text" class="form-control" id="username" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" ng-model="password">
                </div>
                <button type="button" ng-click="login()" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-primary">What are Binary Options?</h1>
            <video width="400" controls>
                <source src="~/Content/videos/WhatAreBinaryOptions.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</body>
